@model MVC_CRUD.Models.Entities.Concrete.Product
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Detail</h2>

<h4>@Model.Name</h4>
<h4>@Model.Description</h4>
<h4>@Model.UnitPrice</h4>
<h4>@Model.UnitInStock</h4>
<h4>@Model.Status</h4>
<h4>@Model.CreateDate</h4>
<h4>@Model.CategoryId</h4>


